.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__list {
  @include flex($ai: null, $gp: 30px);
  flex-wrap: wrap;
  max-width: 100%;

  // @media screen and (min-width: 768px) {
  //   @include flex($ai: null, $gp: 30px);
  //   flex-wrap: wrap;

  //     // display: flex;
  //     // justify-content: center;
}

.features__item {
  //  @media screen and (min-width: 480px)
  width: 100%;

  // &:not(:last-child) {
  //   margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
    // &:not(:last-child) {
    //   margin-right: 30px;
  }
}
.features__icon {
  @include flex();
  margin-bottom: 30px;

  height: 120px;
  border-radius: 4px;

  background-color: $backgroundColorAdd;

  // @media screen and (max-width: 767px) {
  //   width: 100%;
  // }
  // @media screen and (min-width: 480px) {
  //   width: 450px;
  // }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}
.features__subtitle {
  margin-bottom: 10px;
  text-transform: uppercase;

  @include font(14px, 700, 16px, 0.03em);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.features__descr {
  @include font(14px, 400, 16px, 0.03em);
  font-size: 14px;
  line-height: 1.71;
  color: $primaryColor;
}
