.header {
  border-bottom: 1px solid $borderColorHeader;
  padding-top: 0;
  padding-bottom: 0;

  &__logo {
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-right: 88px;
      margin-left: 0;
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      margin-left: 0;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
  &__navigation {
    margin-left: 0;
    margin-right: auto;
  }
}
