.hero {
  background-color: $backgroundColor;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  //   моя редакція
  padding: 118px 20px;

  background-image: $lG, url(/images/img-hero-bg-mob-1x.jpg);

  @mixin retina {
    background-image: $lG, url(/images/img-hero-bg-mob-2x.jpg);
  }

  @media screen and (min-width: 450px) {
    padding: 118px 60px;
    // max-width: 768px;
  }

  @media screen and (min-width: 768px) {
    padding: 118px 204px;

    // max-width: 1200px;
    background-image: $lG, url(/images/img-hero-bg-tab-1x.jpg);
    @mixin retina {
      background-image: $lG, url(/images/img-hero-bg-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: $lG, url(/images/img-hero-bg-desk-1x.jpg);

    @mixin retina {
      background-image: $lG, url(/images/img-hero-bg-desk-2x.jpg);
    }
  }
}

// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)

.hero__container {
  padding: 0;
  @include flex($fd: column, $jc: null);

  //   моя редакція
  width: 100%;

  @media screen and (min-width: 450px) {
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}
