.contact {
  @include flex($fd: column, $jc: null, $gp: 8px);
  @media screen and (min-width: 1200px) {
    @include flex($ai: flex-start, $fd: column, $jc: null, $gp: 9px);
  }
}

.header__contact {
  @media screen and (min-width: 768px) {
    @include flex($fd: column, $ai: flex-start, $gp: 12px);
  }
  @media screen and (min-width: 1200px) {
    @include flex($gp: 50px);
  }
}
.contact__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $transparentWhiteColor;
  @include animation(color, null, null, $time, $func, null);

  &--post {
    color: $whiteColor;
  }
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
// =====HEADER======

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link--mail {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .contact__link--tel {
    padding-top: 0px;
    padding-bottom: 20px;
    & .contact__icon {
      height: 14px;
    }
  }
}

.contact__link--header {
  color: $primaryColor;
  @include flex($jc: null);
  @include font(14px, 500, 16px, 0.02em);
  @include animation(color, null, null, $time, $func, null);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include font(12px, 500, 14px, 0.02em);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
