.filter-list {
  @include flex($ai: null, $jc: null, $fw: wrap);

  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;

  @media screen and (min-width: 480px) {
    margin-right: 124px;
  }
  @media screen and (min-width: 768px) {
    @include flex($ai: null);
    margin-right: 0;
    margin-bottom: 30px;
    // margin: 0;
    // display: flex;
    // justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
