.social {
  @include flex($gp: 10px);
}

.social__link {
  @include flex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transpatent;
  transition: background-color $animation;

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $whiteColor;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: currentColor;
  }
}
.social__link--dark {
  background-color: $iconBackground;

  &:hover,
  &:focus {
    background-color: $accentColor;
    transition: background-color $animation;
  }
}
.social__icon--dark {
  fill: $whiteColor;
}
