@mixin button($color, $bgc, $shdw) {
  color: $color;
  background-color: $bgc;
  box-shadow: $shdw;
}

@mixin flex($dsp: flex, $fd: row, $ai: center, $jc: center, $gp: null, $fw: nowrap) {
  display: $dsp;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
  gap: $gp;
  flex-wrap: $fw;
}
@mixin font($fs: false, $fw: false, $lh: false, $ls: false) {
  @if $fs {
    font-size: $fs;
  }
  @if $fw {
    font-weight: $fw;
  }
  @if $lh {
    line-height: calc($lh / $fs);
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin animation($one, $two, $three, $time, $func, $del) {
  transition-property: $one, $two, $three;
  transition-duration: $time;
  transition-timing-function: $func;
  transition-delay: $del;
}

@mixin item($q, $gp) {
  flex-basis: calc((100% - ($q - 1) * $gp) / $q);
}

@mixin retina {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}
@mixin item($q, $gp) {
  flex-basis: calc((100% - ($q - 1) * $gp) / $q);
}
