%section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

%container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
%social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
%sociallink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;

  transition: background-color $animation;
}

%visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
%title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
